* {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", monospace;
}

.container {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-size: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.b {
  color: #faee0d;
}

.r {
  color: red;
}

.i {
  color: blue;
}

.x {
  color: green;
}

.X {
  color: orange;
}

h3 {
  padding-left: 50px;
}

.subtitle {
  font-size: 40px;
}

p {
  font-size: 20px;
  padding-left: 50px;
  text-align: justify;
}

button {
  margin-left: 100px;
  font-size: 28px;
  padding: 10px 15px;
  border-radius: 5px;
  border-color: darkblue;
  background-color: darkblue;
  color: white;
  width: 500px;
}

button:hover {
  opacity: 90%;
}

.description {
  padding-bottom: 10px;
  height: 120vh;
  width: 50vw;
  padding-top: 20px;
}

.legend {
  font-size: 40px;
}

li {
  font-size: 20px;
  padding-left: 20px;
}

.callToAction {
  font-size: 30px;
  text-align: center;
}

.mid {
  display: flex;
  justify-content: space-between;
}

.right {
  padding-right: 150px;
  line-height: 100px;
}

#timeArea {
  font-size: 40px;
}

#scoreArea {
  font-size: 40px;
}

#highscoreArea {
  font-size: 40px;
}

.planets {
  padding-left: 50px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#startButton {
  background-color: green;
}
